<div class="main_cont container">
  <span class="dark" style="font-size: 40px; font-weight: bold">Forecast - <%= @today_apix.location %></span>
  <span class="dropdown">
      <button type="button" class="btn btn-secondary dropdown-toggle float-right" data-toggle="dropdown">
          <%= @today_apix.location %>
      </button>
      <div class="dropdown-menu">
        <%= link_to "Batken", batken_weather_path, class: "dropdown-item" %>
        <%= link_to "Talas", talas_weather_path, class: "dropdown-item" %>
      </div>
  </span>
  <div class="row">
    <div class="apixu col-md-6"">
        <h1>ApiXu</h1>
        <div class="apixu_data">
            <%= @today_apix.location %> <br>
            <%= @today_apix.time %> |  
            <%= @today_apix.condition %> <br>
            <h2>
              <% if @today_apix.temperature > 0 %> 
                +
              <% else%>
                -
              <% end %>
              <%= @today_apix.temperature %>  
            </h2>
        </div>
    </div>
    <div class="dark col-md-6"">
        <h1>Dark Sky</h1>
        <div class="dark_data">
            <%= @today_dark.location %> <br>
            <%= @today_dark.time %> |  
            <%= @today_dark.condition %> <br>
            <h2>
                <% if @today_dark.temperature > 0 %> 
                  +
                <% end %>
                <%= @today_dark.temperature %>  
              </h2>
        </div>
    </div>
  </div>
</div>
