<div class="row">
  <div class="col-md-6">
    <h4>Apixu</h4>
    <div class="one_day">
      <% @apixu_forecast.each do |day| %>
          <h4><%= @city %></h4>
          <%= day[:date] %> |
          <p class="float-right"><%= day[:condition] %></p><br>
          day +<%= day[:max_temp] %><br>
          night +<%= day[:min_temp] %><br>
      <% end %>
    </div>
  </div>
  <div class="col-md-6">
    <h4>Dark Sky</h4>
    <div class="one_day">
      <% @dark_forecast.each do |day| %>
          <h4><%= @city %></h4>
          <%= day[:date] %> |
          <p class="float-right"><%= day[:condition] %></p><br>
          day +<%= day[:max_temp] %><br>
          night +<%= day[:min_temp] %><br>
      <% end %>
    </div>
  </div>
</div>
