<div class="main_cont container">
  <% if @day >= 2 %>
    <span style="font-size: 30px">Forecast for <%= pluralize(5, 'day') %> - <%= @city %></span>
  <% else %>
    <span style="font-size: 30px">Forecast for 1 day</span>
  <% end %>
  <span class="float-right">
    Choose the city
    <%= select_tag 'city',options_for_select(@cities.collect{ |u| u }), id: 'city' %>
    <button type="button" id="show" class="btn btn-sm btn-primary">Show</button>
  </span>
  <% if @day >= 2 %>
      <%= render partial: "five_day" %>
  <% elsif @day == 1 %>
    <%= render partial: "one_day" %>
  <% end %>
</div>
